.coffeeMenu {
  margin: 5rem auto 1rem auto;
  width: 90%;
}

.identity {
  font-size: 2.4rem;
}

.coffeeMenuItem {
  margin: 2rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  font-size: 2rem;
}
